---
  import BaseBlogLayout from '../../layouts/BaseBlogLayout.astro'
  import PostListItem from '../../components/PostListItem.svelte'
  export async function getStaticPaths() {
    const tags = new Set()

    let posts = await Astro.glob('../*.md');
    posts.forEach(p => p.frontmatter.tags.forEach((t: string) => tags.add(t)))
    posts = posts.sort((a, b) => new Date(b.frontmatter.releaseDate).valueOf() - new Date(a.frontmatter.releaseDate).valueOf());


    return Array.from(tags).map(t => ({ params: { tagName: t }, props: { posts: posts.filter(p => p.frontmatter.tags.includes(t)) } }))
      ;
  }

  const { tagName } = Astro.params
  const { posts } = Astro.props
---

<BaseBlogLayout title={tagName}>
  <h1 class="text-2xl mt-2">Posts with <span class="text-gray-700">#{tagName}</span></h1>
  {posts.map(p =>
  <PostListItem title={p.frontmatter.title} url={p.url} releaseDate={p.frontmatter.releaseDate}
    tags={p.frontmatter.tags} description={p.frontmatter.description} />
  )}
</BaseBlogLayout>