---
  import { DateTime } from "luxon";
  import BaseBlogLayout from './BaseBlogLayout.astro'  
  const { content: { releaseDate, description, tags, title, image, astro: { source } } } = Astro.props
---

<BaseBlogLayout title={title} description={description} image={image}>
  <div class="prose prose-slate max-w-none mt-6">
    <h1 class="mb-2 text-center">{title}</h1>
    <div class="mb-4 text-sm text-center text-gray-600">
      <span>{DateTime.fromISO(releaseDate).toLocaleString(DateTime.DATE_MED)}</span>
      <div class="flex flex-wrap justify-center mt-2">
        {tags?.map((tag: string) => <a class="mx-2 font-bold" href={`/tags/${tag}`}>#{tag}</a>)}
      </div>
    </div>
    <slot />
  </div>
</BaseBlogLayout>